body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f2f5;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.authors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.authors span {
    margin: 0 10px;
}
.leaderboards, .abstract, .viz {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.viz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-compare-container {
    position: relative;
    width: 45%; /* Adjust based on container size for 2 per row */
    margin-bottom: 20px;
}
.image-compare-container img, .overlay {
    position: absolute;
    width: 100%;
    height: auto;
}
.overlay {
    clip-path: inset(0 50% 0 0);
}
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #fff;
    cursor: ew-resize;
    left: 50%;
}
.image-caption {
    width: 45%; /* Match .image-compare-container */
    text-align: center;
    margin: 0 auto 20px; /* Center caption and add spacing */
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
